In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load: ('resources/purchase_data.csv')

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv("resources/purchase_data.csv")
purchase_data_df = pd.DataFrame(purchase_data)

# Display data preview for easy reference
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Calculate the number of unique players
total_players = purchase_data["SN"].nunique()

# Put in dataframe so it looks nice and is more usable later
total_players = pd.DataFrame({"Total Players" : [total_players]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Get the number of unique items
unique_items = purchase_data["Item ID"].nunique()

# Calculate the average price & format
avg_data = purchase_data["Price"].mean()
avg_data = '${:.2f}'.format(avg_data)

# Calculate the number of purchases
items_purchased = purchase_data.Price.count()

# Calculate total revenue
total_revenue = purchase_data.Price.sum()

# Place in summary table form
summary = pd.DataFrame({"Unique Items" : [unique_items],
                          "Average Price" : [avg_data],
                          "Total Items Purchased" : [items_purchased],
                          "Total Revenue" : [total_revenue]})
summary

   Unique Items Average Price  Total Items Purchased  Total Revenue
0           179         $3.05                    780        2379.77

## Gender Demographics

**  Percentage and Count of Male Players
**  Percentage and Count of Female Players
**  Percentage and Count of Other / Non-Disclosed
**  Bonus: Average age by Gender

In [4]:
# Group by gender
by_gender = purchase_data.groupby(["Gender"])

# Calculate unique counts per gender
gender_count = by_gender.nunique().iloc[:, 1]   

# Put results in a dataframe
gender_count_df = pd.DataFrame(gender_count)

# Calculate percent and put in a new column
gender_count_df["Percentage of Players"] = (gender_count_df["SN"]/gender_count_df["SN"].sum()) *100

# Rename "SN" to "Total Count" for clarity
gender_count_df = gender_count_df.rename(columns = {"SN" : "Total Count"})

# View results
gender_count_df

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# group purchase data by gender, count number of members  and average price by gender
purch_analysis = purchase_data.groupby(["Gender"]).agg({"Item ID" : ['count'], "Price" : ['mean']})
purch_analysis

# Calculate the total purchase value per gender (can't use "Price" twice in .agg)
gender_spend = by_gender.Price.sum()

# Add Total Purchase Value to the dataframe
purch_analysis["Total Purchase Value"]= (gender_spend)

# Calculate average total purchase per person
avg_total_purch_person = (gender_spend/gender_count)

# Add Avg Total Purchase per person to the dataframe
purch_analysis["Avg Total Purchase per Person"] = (avg_total_purch_person)

# Rename column heads 
#  *** Because the .agg function enters "count" & "mean" they can't be changed so  ***
#  *** I just incorporated them into the titles to make it easier to read.         ***
purch_analysis = purch_analysis.rename(columns = {"Item ID" : "Purchase", "Price" : "Purchase Price"})
purch_analysis

,Purchase,Purchase Price,Total Purchase Value,Avg Total Purchase per Person
,count,mean,,
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create bins for age groups
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Name the bins
group_names = ["Under 10", "10-14", "15-19", "20-24", "25-29","30-34", "35-39", "40+" ]

# Put data in labeled bins
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [7]:
# Group purchasing by age
grouped_purchase_data = purchase_data.groupby("Age Range")

# Calculate the number of total unique players
total_players = purchase_data["SN"].nunique()

# Count how many players in each age range
total_count = grouped_purchase_data[["SN"]].nunique()
total_count

# # Calculate percentage in each age group
grouped_purchases_percent = (total_count / total_players) *100
grouped_purchases_percent["Total Count"] = (total_count)

# # Rename column headers 
grouped_purchases_percent = grouped_purchases_percent.rename(columns = {"SN" : "Percentage of Players"})

# view summary
grouped_purchases_percent

           Percentage of Players  Total Count
Age Range
Under 10                2.951389           17
10-14                   3.819444           22
15-19                  18.576389          107
20-24                  44.791667          258
25-29                  13.368056           77
30-34                   9.027778           52
35-39                   5.381944           31
40+                     2.083333           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Create bins for age groups
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create labels for the bins
range_names = ["Under 10", "10-14", "15-19", "20-24", "25-29","30-34", "35-39", "40+" ]

# Append Age Ranges to purchase_data 
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], age_bins, labels=range_names, include_lowest=True)

In [9]:
# Total purchases by Age Ranges
grouped_purchase_data = purchase_data.groupby("Age Range")
grouped_purchase_data[["Price"]].sum()

             Price
Age Range
Under 10     77.13
10-14        82.78
15-19       412.89
20-24      1114.06
25-29       293.00
30-34       214.00
35-39       147.67
40+          38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# FIND BIGGEST BUYERS - BUILD COMPONENTS FOR SUMMARY

# Group by Players
grouped_players = purchase_data.groupby('SN')

# Sum purchases per player
grouped_player_totals = grouped_players[['Price']].sum()

# Purchase count per player
grouped_purchases = grouped_players[['Price']].count()

# Average purchase price
grouped_player_avg = grouped_players[['Price']].mean()
# grouped_player_avg

In [11]:
# FIND BIGGEST BUYERS - PULL COMPONENTS TOGETHER AND SORT FOR SUMMARY

# Merge Purchase Count with Avg Price by player
big_buyer_merge = pd.merge(grouped_purchases, grouped_player_avg, on='SN')
big_buyer_merge

# Merge Total Purchase value onto big_buyer_merg
big_buyer_merge = pd.merge(big_buyer_merge, grouped_player_totals, on= 'SN')
big_buyer_merge

# sort the list so the biggest buyers are first
big_buyer_sort = big_buyer_merge.sort_values('Price', ascending = False)
big_buyer_sort

# Change names to make sense
big_buyer_summary = big_buyer_sort.rename(columns = {"Price_x" : "Purchase Count",
                                                    "Price_y" : "Avg Purchase Price",
                                                    "Price" : "Total Purchase Value"})
# View Summary
big_buyer_summary

             Purchase Count  Avg Purchase Price  Total Purchase Value
SN
Lisosia93                 5            3.792000                 18.96
Idastidru52               4            3.862500                 15.45
Chamjask73                3            4.610000                 13.83
Iral74                    4            3.405000                 13.62
Iskadarya95               3            4.366667                 13.10
...                     ...                 ...                   ...
Ililsasya43               1            1.020000                  1.02
Irilis75                  1            1.020000                  1.02
Aidai61                   1            1.010000                  1.01
Chanirra79                1            1.010000                  1.01
Alo38                     1            1.000000                  1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
# Retrieve Item ID, Item Name, and Item Price columns
summary_columns = purchase_data[['Item ID', 'Item Name', 'Price']]

# Put summary_columns into a dataframe so that below calcs can be performed
summary_frame = pd.DataFrame(summary_columns)

# Group the data by Item ID & Item Name
grouped_items =summary_columns.groupby('Item ID')

# Count the number items purchased per item
purch_count = grouped_items[["Item ID"]].count()

# Calculate total purchase value per item
purch_value = grouped_items[['Price']].sum()

# Add "Purchase Count" to the summary frame
summary_frame["Purchase Count"] = (purch_count)

# Add "Purchase Value" to the summary frame
summary_frame["Purchase Value"] = (purch_value)

# Display Preview Frame
summary_frame

,Item ID,Item Name,Price,Purchase Count,Purchase Value
0,108,"Extraction, Quickblade Of Trembling Hands",3.53,4.0,5.12
1,143,Frenzied Scimitar,1.56,4.0,11.77
2,92,Final Critic,4.88,6.0,14.88
3,100,Blindscythe,3.27,6.0,14.94
4,131,Fury,1.44,5.0,8.50
...,...,...,...,...,...
775,60,Wolf,3.54,NaN,NaN
776,164,Exiled Doomblade,1.63,NaN,NaN
777,67,"Celeste, Incarnation of the Corrupted",3.46,NaN,NaN
778,92,Final Critic,4.19,NaN,NaN
779,50,Dawn,4.60,NaN,NaN

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [15]:
# Sort to show the purchase value in decending order to show most profitable first
summary_frame = summary_frame.sort_values('Purchase Value', ascending = False)

# Display Preview frame
summary_frame

,Item ID,Item Name,Price,Purchase Count,Purchase Value
92,39,"Betrayal, Whisper of Grieving Widows",3.94,13.0,59.99
178,57,"Despair, Favor of Due Diligence",4.60,12.0,50.76
82,160,Azurewrath,4.40,9.0,44.10
145,46,Hopeless Ebon Dualblade,1.33,9.0,41.22
103,7,"Thorn, Satchel of Dark Souls",1.33,8.0,34.80
...,...,...,...,...,...
775,60,Wolf,3.54,NaN,NaN
776,164,Exiled Doomblade,1.63,NaN,NaN
777,67,"Celeste, Incarnation of the Corrupted",3.46,NaN,NaN
778,92,Final Critic,4.19,NaN,NaN
779,50,Dawn,4.60,NaN,NaN