### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd


# File to Load: ('resources/purchase_data.csv')

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv("resources/purchase_data.csv")

# See what the dataframe looks like 
# purchase_data.head()
# purchase_data.shape

In [6]:
# Reading data into a DataFram
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [7]:
total_players = purchase_data_df.SN.count()
print(f'The Total Numbers of Players:  {total_players}')

The Total Numbers of Players:  780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
item_ID = purchase_data_df["Item ID"]
# unique_items_df = pd.DataFrame(unique_items)
# unique_items_df
print(f'Number of uniquie items: {item_ID.nunique()}')

Number of uniquie items: 179

In [12]:
# Calculate the average price & print out with formatting
price_data = purchase_data_df["Price"]
average_price = price_data.mean()
avg_price = "${:.2f}".format(average_price)
# print(average_price)
print(f'Average Price: {avg_price}')

Average Price: $3.05

In [11]:
# Calculate the number of purchases
print(f'Total Numbers of Purchases:  {purchase_data_df.Price.count()}')
print(f'Total Revenue:  {purchase_data_df.Price.sum()}')

Total Numbers of Purchases:  780
Total Revenue:  2379.77

## Gender Demographics

In [24]:
# Create a dataframe showing demographics grouped by gender: Mean Age, Mean Price, Gender Count, Percent of each gender
by_gender = purchase_data_df.groupby(["Gender"]).agg({"Age" : ['mean'], "Price" : ['mean'], "Gender" : ['count']})
by_gender_df = pd.DataFrame(by_gender)
by_gender_df['Percent'] = (by_gender_df['Gender'] / by_gender_df['Gender'].sum()*100)
by_gender_df

                             Age     Price Gender    Percent
                            mean      mean  count
Gender
Female                 21.345133  3.203009    113  14.487179
Male                   22.917178  3.017853    652  83.589744
Other / Non-Disclosed  24.200000  3.346000     15   1.923077

In [ ]:
# Add percent column from gender_percent_df to by_gender_df to finish Summary Table
gender_summary_df=pd.DataFrame({"Age" : [by_gender],
                                   "Price" : [by_gender]})
gender_summary_df

In [ ]:
#  By renaming column, confirmed that the top line is the actual name of the column
by_gender_df.rename(columns={'SN Count' : 'Player'},inplace=True)
by_gender_df

In [ ]:
# Average Price by Gender
grouped_gender_price = purchase_data_df.groupby("Gender")
grouped_gender_price.mean()["Price"]

In [ ]:
# Average Age by Gender
grouped_gender_age = purchase_data_df.groupby("Gender")
grouped_genderage.mean()["Age"]

In [ ]:
# Player Count by Gender
grouped_player_count = purchase_data_df.groupby("Gender")
grouped_player_count.count()["SN"]

In [ ]:
summary_bygender_df = pd.DataFrame({"Average Price" : [grouped_price_gender].mean()],
    [grouped_gender["Age"].mean()])
summary_bygender

In [ ]:
# Player Count & percentage by Gender
grouped_age = purchase_data_df.groupby("Gender")
grouped_age.count()["SN"]

In [ ]:
# Count of Males Players
male_players = purchase_data_df["Gender"].value_counts()["Male"]
male_players

In [ ]:
# Calculate the percent of male players
percent_males = [male_players/total_players]
percent_males
# Calculate the percent of Male Players

In [ ]:
# Count of Female Players
female_players = purchase_data_df["Gender"].value_counts()["Female"]
female_players

In [ ]:
# Calculate the percent of female players
percent_females = [female_players/total_players]
percent_females
# Calculate the percent of Female Players

In [ ]:
# purchase_data_df['Gender'].value_counts()   ***To find specific label(s)

# Count of Other Players
other_players = purchase_data_df["Gender"].value_counts()["Other / Non-Disclosed"]
other_players

In [ ]:
# Calculate the percent of Other Players
percent_other = [other_players/total_players]
percent_other


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Add, percent, ,ave purchase total
gender_summary = pd.DataFrame(
    "")

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame