In [1]:
# Dependencies and Setup
import pandas as pd


# File to Load: ('resources/purchase_data.csv')

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv("resources/purchase_data.csv")
# purchase_data_df = pd.DataFrame(purchase_data)

In [2]:
# See what the dataframe looks like 
# purchase_data.head()
# purchase_data.shape

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [ ]:
# purchase_data
total_players = purchase_data["SN"].nunique()
total_players = pd.DataFrame({"Total Players" : [total_players]})
total_players

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Get the nuber of unique items
unique_items = purchase_data["Item ID"].nunique()
unique_items

In [ ]:
# Calculate the average price & print out with formatting

avg_data = purchase_data["Price"].mean()
avg_data = '${:.2f}'.format(avg_data)
print(f'Average Price: {avg_data}')

In [ ]:
# Calculate the number of purchases

items_purchased = purchase_data.Price.count()
items_purchased

In [ ]:
# Calculate total revenue

total_revenue = purchase_data.Price.sum()
total_revenue

In [ ]:
# Summary
summary = pd.DataFrame({"Unique Items" : [unique_items],
                          "Average Price" : [avg_data],
                          "Total Items Purchased" : [items_purchased],
                          "Total Revenue" : [total_revenue]})

summary

## Gender Demographics

**  Percentage and Count of Male Players
**  Percentage and Count of Female Players
**  Percentage and Count of Other / Non-Disclosed
**  Bonus: Average age by Gender

In [5]:
# Group by gender
by_gender = purchase_data.groupby(["Gender"])

# Calculate unique counts per gender
gender_count = by_gender.nunique().iloc[:, 1]   

# Put results in a dataframe
gender_count_df = pd.DataFrame(gender_count)

In [6]:
# Calculate percent and put in a new column
gender_count_df["Percentage of Players"] = (gender_count_df["SN"]/gender_count_df["SN"].sum()) *100

# Rename "SN" to "Total Count" for clarity
gender_count_df = gender_count_df.rename(columns = {"SN" : "Total Count"})
gender_count_df

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
purch_analysis = purchase_data.groupby(["Gender"]).agg({"Item ID" : ['count'], "Price" : ['mean']})
purch_analysis

                      Item ID     Price
                        count      mean
Gender
Female                    113  3.203009
Male                      652  3.017853
Other / Non-Disclosed      15  3.346000

In [22]:
# Calculate Total Purchase Val

total_purchases = purchase_data.groupby(["Gender"]).sum()
total_purchases = total_purchases.iloc[:, 3]
total_purchases
purch_analysis['Total Purchase Value']= (total_purchases)
purch_analysis

                      Item ID     Price Total Purchase Value
                        count      mean
Gender
Female                    113  3.203009               361.94
Male                      652  3.017853              1967.64
Other / Non-Disclosed      15  3.346000                50.19

In [24]:
purch_analysis['Avg Purchase per Person']= (purch_analysis['Total Purchase Value']/purch_analysis['Item ID'])
purch_analysis
#  (gender_count_df["SN"]/gender_count_df["SN"]) *100

KeyError: 'Item ID count'

In [ ]:
# Put it in same datafram as gender: mean & count
sum_purchases_group = purchase_data_df.groupby(["Gender"]).sum()
sum_purchases_group_df = pd.DataFrame(sum_purchases_group["Price"])
sum_purchases_group_df
# rename "Price" here to "Total Purchases"

In [ ]:
merge_df = pd.merge(by_gender_purchases_df, sum_purchases_group_df, on ="Gender" ,)
merge_df

In [ ]:
#By Person by gender
Avg_purch_person_gen = purchase_data_df.groupby(["Gender","SN"])
Avg_purch_person_gen.mean()

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# Create bins for age groups
bins = [0, 10, 20, 30, 40, 50, 61, 100]

player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age", "Item ID"]]

# Create labels for the bins
group_names = ["Under 10", "11-20", "21-30", "31-40", "41-50","51-60","Over 60" ]

player_demographics["Age Range Summary"] = pd.cut(player_demographics["Age"], bins, labels=group_names, include_lowest=True)
player_demographics

In [ ]:

player_demographics = player_demographics.groupby("Age Range Summary")
player_demographics.count().loc[:,["Item ID"]]

In [ ]:
purchase_data_df = purchase_data_df.groupby("Price")
# purchase_data_df.mean()

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame