### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd


# File to Load: ('resources/purchase_data.csv')

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv("resources/purchase_data.csv")

# See what the dataframe looks like 
# purchase_data.head()
# purchase_data.shape

In [2]:
# Reading data into a DataFram
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [3]:
total_players = purchase_data_df.SN.count()
print(f'The Total Numbers of Players:  {total_players}')

The Total Numbers of Players:  780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
item_ID = purchase_data_df["Item ID"]
# unique_items_df = pd.DataFrame(unique_items)
# unique_items_df
print(f'Number of uniquie items: {item_ID.nunique()}')

Number of uniquie items: 179

In [7]:
# Calculate the average price & print out with formatting
price_data = purchase_data_df["Price"]
average_price = price_data.mean()
avg_price = "${:.2f}".format(average_price)
# print(average_price)
print(f'Average Price: {avg_price}')

Average Price: $3.05

In [8]:
# Calculate the number of purchases
print(f'Total Numbers of Purchases:  {purchase_data_df.Price.count()}')
print(f'Total Revenue:  {purchase_data_df.Price.sum()}')

Total Numbers of Purchases:  780
Total Revenue:  2379.77

## Gender Demographics

In [14]:
grouped_gender = purchase_data_df.groupby("Age")
grouped_gender.mean()

     Purchase ID     Item ID     Price
Age
7     402.888889  106.333333  3.654444
8     335.000000  103.125000  3.246250
9     617.166667  107.666667  3.045000
10    274.222222  108.000000  3.536667
11    450.428571   90.285714  2.684286
12    426.166667   88.833333  2.633333
13    239.000000   87.500000  2.362500
14    490.000000  116.000000  3.455000
15    424.657143   91.114286  3.018571
16    408.366667   90.600000  3.018667
17    377.500000  118.954545  2.930909
18    402.615385   85.576923  3.162308
19    390.086957   89.086957  3.042609
20    383.060606   86.383838  3.174949
21    363.064516   86.500000  2.915161
22    401.842857   81.371429  2.955000
23    388.462687  100.447761  3.013881
24    372.895522   89.462687  3.137612
25    405.254237   91.593220  3.083051
26    444.428571  109.785714  2.870714
27    379.400000   81.400000  2.723000
28    389.400000   40.400000  1.690000
29    399.923077   90.076923  2.710000
30    361.771429   99.942857  3.152000
31    424.285714   95.714286  3.435714
32    354.000000   99.000000  2.836250
33    342.857143  103.214286  2.486429
34    332.222222   51.222222  2.458889
35    373.928571   91.714286  3.716429
36    452.600000  141.400000  2.532000
37    300.142857  101.285714  3.644286
38    458.222222   98.000000  3.794444
39    478.833333   92.500000  3.886667
40    257.833333   97.000000  2.785000
41    409.000000  122.000000  3.270000
42    557.000000    8.000000  3.930000
43    674.000000   77.000000  4.000000
44    488.000000  115.000000  2.680000
45    761.000000   17.000000  1.700000

In [ ]:
# Count of Males Players
male_players = purchase_data_df["Gender"].value_counts()["Male"]
male_players

In [ ]:
# Calculate the percent of male players
percent_males = [male_players/total_players]
percent_males
# Calculate the percent of Male Players

In [ ]:
# Count of Female Players
female_players = purchase_data_df["Gender"].value_counts()["Female"]
female_players

In [ ]:
# Calculate the percent of female players
percent_females = [female_players/total_players]
percent_females
# Calculate the percent of Female Players

In [ ]:
# purchase_data_df['Gender'].value_counts()   ***To find specific label(s)

# Count of Other Players
other_players = purchase_data_df["Gender"].value_counts()["Other / Non-Disclosed"]
other_players

In [ ]:
# Calculate the percent of Other Players
percent_other = [other_players/total_players]
percent_other


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Add, percent, ,ave purchase total
gender_summary = pd.DataFrame(
    "")

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame